@import "~normalize.css";

$break-md: 768px;
$light: #fafafa;
$accent: #8699b7;
$hamburger-layer-color: $accent;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$main-max-height: 450px;
$main-height: 75vh;


$trans-time: 0.3s;
$hor-pad: 7%;

@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
body {
  font-family: 'Mukta Vaani', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #404040;
  background: $light;
}

.light {
  color: $light;
}

.wrap {
  position: absolute;
  top: 8%;
  width: 100%;
}

.accent {
  color: $accent;
}

.rel {
  position: relative;
}

button:focus {outline:0;}

#nav {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  text-align: end;
  background: $light;
  max-height: $main-max-height;
  height: $main-height;

  a {
    display: block;
  }
  .link {
    display: inline-block;
    margin: 0 $hor-pad;
    font-size: 24px;
    color: $accent;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 3px solid;
    border-color: transparent;
    &:hover {
      border-color: $accent;
    }
  }

  @media screen and (min-width: $break-md) {
    width: 100%;
    background: transparent;
    margin-right: $hor-pad;
  }
}
#open {
  display: block;
  z-index: 1000;
  position: absolute;
  right: 10%;
  top: 1rem;
  padding: 0;

  @media screen and (min-width: $break-md) {
    display: none;
  }
}