@import "./core.scss";

#nav {
  opacity: 1;
  height: 100%;
  width: 200px;
  position: fixed!important;

  @media screen and (max-width: $break-md) {
    display: none;
    animation: animateright 0.3s forwards;
  }
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0;
  }

  to {
    right: 0;
    opacity: 1;
  }
}
