@import "./core.scss";

$home-height: 80vw;
$vert-pad: 1rem;
$spacer: 0.2em;
$height: 450px;


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 30px;
}

.fade-in {
  opacity: 0;
  animation: fadein .55s forwards;
  animation-delay: 0.15s;

  &.slow {
    animation-delay: 1s;
  }

  &.x-slow {
    animation-delay: 1.7s;
  }
}

.wrap {
  position: absolute;
  top: 8%;
  width: 100%;
}

#nav {
  width: 0;
  transition: $trans-time;

  @media screen and (min-width: $break-md) {
    width: 100%;
    opacity: 0;
    animation: fadein 0.55s forwards;
    animation-delay: 2s;
  }
}

#home {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: $height;
  max-height: 75vh;

  * {
    max-height: $home-height;
  }

  .name {
    position: absolute;
    padding: $vert-pad 0;
  }

  .tag {
    position: absolute;
    bottom: $vert-pad;
  }

  .left {
    width: 22rem;
    margin-left: $hor-pad;
    min-width: 9rem;
    max-width: 25vw;
    border-radius: 4px;
    background: $accent;
    color: $light;
    transition: $trans-time;

    &.blend {
      color: $accent;
    }

    @media screen and (min-width: $break-md) {
      color: $light;

      &.blend {
        color: $light;
      }
    }

    * {
      right: 0;
      padding-right: $spacer;
    }
  }

  .right {
    color: $accent;
    padding-left: $spacer;
    margin-right: auto;
  }

}