@import "~normalize.css";

$vert-pad: 1em;
$spacer: 0.2em;
$height: 450px;
$light: #fafafa;
$accent: #4666a7;

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.rel {
  position: relative;
}

body {
  font-family: 'Mukta Vaani', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #404040;
  background: $light;

  .wrap {
    z-index: 100;
  }
}

.fade-in {
  opacity: 0;
  animation: fadein .75s forwards;
  animation-delay: 0.5s;

  &.slow {
    animation-delay: 1.5s;
  }
}

.light {
  color: $light;
}

.accent {
  color: $accent;
}

#home {
  position: absolute;
  top: 8%;
  left: 10%;
  margin: auto;
  display: flex;
  flex-direction: row;

  .name {
    position: absolute;
    padding: $vert-pad 0;
  }

  .tag {
    position: absolute;
    bottom: $vert-pad;
  }

  .left {
    width: 200px;
    border-radius: 4px;
    height: $height;
    max-height: 80vh;
    background: $accent;
    color: $light;

    * {
      right: 0;
      padding-right: $spacer;
    }
  }

  .right {
    color: $accent;
    padding-left: $spacer;
  }


}