@import "~normalize.css";

$break-md: 768px;
$hor-pad: 10%;
$vert-pad: 1em;
$spacer: 0.2em;
$height: 450px;
$light: #fafafa;
$accent: #4666a7;

$hamburger-layer-color: $accent;
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.rel {
  position: relative;
}

.fade-in {
  opacity: 0;
  animation: fadein .55s forwards;
  animation-delay: 0.15s;

  &.slow {
    animation-delay: 1s;
  }

  &.x-slow {
    animation-delay: 1.7s;
  }
}

body {
  font-family: 'Mukta Vaani', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #404040;
  background: $light;
}

.light {
  color: $light;
}

.accent {
  color: $accent;
}

.wrap {
  position: absolute;
  top: 8%;
  width: 100%;
}

#home {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  height: $height;
  max-height: 75vh;

  * {
    max-height: 80vw;
  }

  .name {
    position: absolute;
    padding: $vert-pad 0;
  }

  .tag {
    position: absolute;
    bottom: $vert-pad;
  }

  .left {
    width: 14em;
    margin-left: $hor-pad;
    min-width: 10em;
    max-width: 30vw;
    border-radius: 4px;
    background: $accent;
    color: $light;

    * {
      right: 0;
      padding-right: $spacer;
    }
  }

  .right {
    color: $accent;
    padding-left: $spacer;
  }

}
button:focus {outline:0;}
#nav {
  z-index: 1;
  overflow-x: hidden;
  width: 0;
  text-align: end;
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.3s;

  a {
    display: block;
  }
  .link {
    display: inline-block;
    margin: 0.7em $hor-pad;
    font-size: 24px;
    color: $accent;
    cursor: pointer;
    border-bottom: 3px solid;
    border-color: transparent;
    &:hover {
      border-color: $accent;
    }
  }
  @media screen and (min-width: $break-md) {
    width: 100%;
    opacity: 0;
    animation: fadein 0.55s forwards;
    animation-delay: 2s;
    //margin-right: $hor-pad;
  }

}

#open {
  display: block;
  z-index: 1000;
  position: absolute;
  right: 2em;
  top: 1em;
  padding: 0;

  @media screen and (min-width: $break-md) {
    display: none;
  }
}