@import "~normalize.css";

$break-md: 768px;
$hor-pad: 7%;
$home-height: 80vw;
$vert-pad: 1em;
$spacer: 0.2em;
$height: 450px;
$light: #fafafa;
$accent: #4666a7;
$trans-time: 0.3s;
$hamburger-layer-color: $accent;
$hamburger-layer-width: 20px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.rel {
  position: relative;
}

.fade-in {
  opacity: 0;
  animation: fadein .55s forwards;
  animation-delay: 0.15s;

  &.slow {
    animation-delay: 1s;
  }

  &.x-slow {
    animation-delay: 1.7s;
  }
}

body {
  font-family: 'Mukta Vaani', sans-serif;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #404040;
  background: $light;
}

.light {
  color: $light;
}

.accent {
  color: $accent;
}

.wrap {
  position: absolute;
  top: 8%;
  width: 100%;
}

#home {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: $height;
  max-height: 75vh;

  * {
    max-height: $home-height;
  }

  .name {
    position: absolute;
    padding: $vert-pad 0;
  }

  .tag {
    position: absolute;
    bottom: $vert-pad;
  }

  .left {
    width: 22rem;
    margin-left: $hor-pad;
    min-width: 9rem;
    max-width: 25vw;
    border-radius: 4px;
    background: $accent;
    color: $light;
    transition: $trans-time;

    * {
      right: 0;
      padding-right: $spacer;
    }
  }

  .right {
    color: $accent;
    padding-left: $spacer;
    margin-right: auto;
  }

}
button:focus {outline:0;}
#nav {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  width: 0;
  margin-right: $hor-pad;
  text-align: end;
  background: $light;
  transition: $trans-time;

  a {
    display: block;
  }
  .link {
    display: inline-block;
    margin: 0 $hor-pad;
    font-size: 24px;
    color: $accent;
    text-decoration: none;
    cursor: pointer;
    border-bottom: 3px solid;
    border-color: transparent;
    &:hover {
      border-color: $accent;
    }
  }
  @media screen and (min-width: $break-md) {
    width: 100%;
    background: transparent;
    opacity: 0;
    animation: fadein 0.55s forwards;
    animation-delay: 2s;
    // double the right margin
    margin-right: $hor-pad;
  }

}

#open {
  display: block;
  z-index: 1000;
  position: absolute;
  right: 10%;
  top: 1rem;
  padding: 0;

  @media screen and (min-width: $break-md) {
    display: none;
  }
}